@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  transition: all 0.5s;
  font-family: "Lato", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e3438;
}

a {
  text-decoration: none;
}

.top-left-hero {
  position: relative;
  top: 20%;
  left: 16px;
}

.output-header {
  margin-left: -23px;
}

.text-primary {
  color: #f47920 !important;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 20%;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-label {
  float: left;
}
.indus .nav-tabs .nav-link.active {
  border: none;
  color: #fff;
  background-color: #f47920;
  font-weight: 500;
}

.indus .nav .nav-item {
  border-bottom: 1px solid transparent;
}

.navbar {
  box-shadow: 10px -4px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px -4px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px -4px 16px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #f47920 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #d35f00 !important;
}

.main-heading {
  font-size: 3.625rem;
  font-weight: bold;
}

.text-secondary {
  color: #5d6771 !important;
}

.btn-shadow {
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.21);
}

.divider-bottom {
  transform: rotate(180deg);
}

.border-left-theme {
  border-left: 4px solid #f47920;
}

.nav {
  display: block;
}

.nav-tabs {
  border: none;
}

.nav .nav-item .nav-link {
  color: #333333;
}

.nav-tabs .nav-link.active {
  border: none;
  color: #f47920;
  background-color: transparent;
  font-weight: 500;
}

.nav .nav-item {
  border-bottom: 1px solid #bfc0c2;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #f47920;
}

.nav-card {
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.nav-card-header {
  border-radius: 10px 10px 0px 0px;
  background: #f47920;
}

.border-left-theme-2 {
  border-left: 20px solid #f47920;
}

.down-btn::after {
  content: "";
  display: block;
  width: 26px;
  height: 36px;
  background-image: url(../images/button-line.png);
  background-size: 100%;
  position: absolute;
  top: 0;
  right: -8px;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.approach-card {
  background-color: #ffffff;
  color: #000;
}
.border-text {
  border-bottom: 2px solid #f47920;
}

.leader-title {
  position: relative;
}

.leader-title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #000000;
  bottom: -16px;
  left: 0;
}

.read-more {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.blog {
  background-color: #f0f6ff;
  color: #f47920;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 30px;
  margin: 0 auto;
}

.blog-date {
  font-size: 12px;
  font-weight: 600;
}

.section-email {
  background-color: #f47920;
  color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #f47920;
  transition: all 0.5s;
}

.btn-white:hover {
  background-color: #d35f00;
  color: #ffffff;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  border-bottom: 1px solid transparent;
  padding: 4px 0;
}

footer ul li a {
  text-decoration: none;
  color: inherit;
}

footer ul li a:hover {
  border-bottom: 1px solid #333333;
}

.values-heading {
  position: relative;
}

.values-heading::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 4px;
  background-color: #f47920;
  bottom: -10px;
  left: 0;
}

.industry-main {
  background-color: #f47920;
  color: #ffffff;
  box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  -webkit-box-shadow: 0px 88px 187px 0px rgba(88, 51, 51, 0.15);
  -moz-box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  position: relative;
  padding-bottom: 50px;
}

.w-60 {
  width: 60%;
}

.industry-white {
  margin-left: calc(50% - 10%);
  position: relative;
}

.industry-white-block {
  position: absolute;
  width: 200px;
  height: 110px;
  bottom: -40px;
  right: -60px;
  background-color: #ffffff;
}

.industry-text-vertical {
  font-weight: 600;
  position: absolute;
  font-size: 1.5rem;
  color: #ffffff;
  transform: rotate(-90deg);
  right: -110px;
  bottom: 120px;
}

.tetimonial {
  background-color: #ffffff;
  box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  -webkit-box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  -moz-box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 320px;
  left: 25%;
  bottom: -20px;
  z-index: 1;
}

.tetimonial2 {
  background-color: #ffffff;
  box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  -webkit-box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  -moz-box-shadow: 0px 88px 187px 0px rgba(21, 21, 21, 0.15);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 320px;
  left: 45%;
  bottom: -20px;
  z-index: 2;
}

.fs-7 {
  font-size: 12px;
}

.fs-20 {
  font-size: 20px;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

button.nav-link {
  font-size: 19.2px;
}

.fs-42 {
  font-size: 2.625rem;
}

.underline-approach {
  text-decoration: underline !important;
  text-decoration-color: #f47920 !important;
  text-decoration-thickness: 6px !important;
}

.fw-600 {
  font-weight: 700;
}

.sox-header {
  min-height: calc(100vh - 87px);
  background-image: url(../images/new.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-theme {
  color: #f47920;
}

.fs-24 {
  font-size: 24px;
}

.approach-card {
  background-color: #f47920;
  color: #ffffff;
  font-size: 1.25rem;
}

.output {
  font-size: 1rem;
}

.output {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  border-bottom: 2px solid #bfc0c2;
}

.industries-tabs .nav {
  display: flex;
  justify-content: center;
  gap: 30px !important;
  flex-wrap: wrap !important;
}

.industries-tabs .nav .nav-item {
  border-bottom: none;
}

.industries-tabs .nav .nav-item button {
  white-space: nowrap;
  text-align: center;
  background-color: #bfc0c2;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.industries-tabs .nav .nav-item button.active {
  background-color: #f47920;
  font-size: 15px;
}

.treding-heading {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 5rem;
}

.treding-headin-2 {
  margin-top: -30px;
  font-size: 4rem;
  font-style: italic;
  font-weight: 500;
}

.approach-card span {
  font-size: 22px !important;
}

.model-parent {
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  overflow-x: hidden;
}

.model-wrap {
  width: 85%;
  background-color: white;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: -90px;
  border-radius: 10px;
}

.d-flex {
  display: flex;
}

.inter{
  font-family: "Inter", sans-serif !important;
}

@media (max-width: 992px) {
  .custom-reverse {
    flex-direction: column-reverse;
  }
  .industry-white {
    margin-left: 0;
    width: 88%;
  }
}

@media (max-width: 890px) {
  .industry-text-vertical {
    font-size: 12px;
    right: -58px;
  }
}

@media screen and (max-width: 1200px) {
  .tetimonial {
    left: 23% !important;
  }
  .tetimonial2 {
    left: 44% !important;
  }
}
@media screen and (max-width: 1000px) {
  .tetimonial {
    display: none;
  }
  .tetimonial2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-nav li a {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .w-lg-50 {
    width: 50%;
  }
  .w-lg-60 {
    width: 80%;
  }

  .header-2 {
    margin-left: -60px;
  }
}
