@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  font-family: "Lato", sans-serif !important;
}

.leader-card {
  background-color: #ffffff;
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.24);
}
.logo-footer {
  width: 200px;
}

.bg-main {
  background-color: #f47920 !important;
}

.bg-main p {
  color: #ffffff !important;
}

.d-flex {
  display: flex;
}

.logo {
  height: 89px;
  width: 105px;
}

.pl-140 {
  padding-left: 140px;
}

.pt-112 {
  padding-top: 112px;
}

.pb-82 {
  padding-bottom: 82px;
}

.footer-text {
  font-size: 14px;
}
.address-box {
  border-left: 2px solid #f47920;
}

.justify-center {
  justify-content: center;
}

.lh-38 {
  line-height: 38px;
}

.w-180 {
  width: 180px;
}

.lh-22 {
  line-height: 22px;
}

.ls-none {
  list-style: none;
}

.sox-hero {
  padding: 30px 10px;
}

.home-hero {
  padding-left: 140px;
  padding-top: 112px;
  padding-bottom: 82px;
}

.error {
  color: rgb(224, 135, 135);
  font-size: 12px;
}

.text-danger {
  color: rgb(224, 135, 135);
  font-size: 12px;
}

.navbar {
  height: 95px !important;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  background: white;
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  transform: translateX(500px);
  transition: 1s ease-in-out;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
  transform: translateX(0px);
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.sidebar-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
  transform: translateX(0px);
}

.close {
  position: relative;
  top: -73px;
  right: -122px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.overflow-x-hiddden {
  overflow-x: hidden !important;
}

.approach-card {
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
}

.approach-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 31.9px;
  text-align: left;
  color: #000000;
  font-family: "Lato", sans-serif !important;
}

.grid-40 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 30px;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  box-shadow: 0px -5px 15px 1px #0000001c;
}

@media (max-width: 768px) {
  .testimonial-slide {
    padding: 15px;
  }

  .testimonial-slide h3 {
    font-size: 1.25rem;
  }

  .testimonial-slide p {
    font-size: 0.9rem;
  }
  .home-hero {
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 800px) {
  .col-8 {
    flex: 4;
  }
  .sox-hero {
    padding: 0px;
  }
  .main-heading {
    font-size: 2.8rem;
  }
}
