@import url("https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans&family=Quicksand&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap");

* {
  font-family: "Tilt Neon", sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}
.leader-card{
  height: 950px;
}
.logo-footer{
  width: 200px;
}
.d-flex {
  display: flex;
}
.footer-text{
  font-size: 14px;
}
.address-box{
  border-left: 2px solid #f47920;
}

.justify-center {
  justify-content: center;
}

.lh-38 {
  line-height: 38px;
}

.w-180 {
  width: 180px;
}

.lh-22 {
  line-height: 22px;
}

.ls-none {
  list-style: none;
}

.sox-hero {
  padding: 30px 10px;
}

.error {
  color: rgb(224, 135, 135);
  font-size: 12px;
}

.text-danger {
  color: rgb(224, 135, 135);
  font-size: 12px;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  background: white;
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  transform: translateX(500px);
  transition: 1s ease-in-out;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
  transform: translateX(0px);
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.sidebar-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
  transform: translateX(0px);
}

.close {
  position: relative;
  top: -73px;
  right: -122px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.overflow-x-hiddden {
  overflow-x: hidden !important;
}

.top-bar {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
  margin: 0px !important;
}

@media screen and (max-width: 800px) {
  .col-8 {
    flex: 4;
  }
  .sox-hero {
    padding: 0px;
  }
  .main-heading {
    font-size: 2.8rem;
  }
}
