@import url("https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans&family=Quicksand&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap");

* {
  font-family: "Tilt Neon", sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.lh-38 {
  line-height: 38px;
}
